section {
    border: .5rem black solid;
    width: 20vw;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 1rem;
}

main {
    display: flex;
}

.dice {
    display: grid;
    align-self: center;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
    width: 100px;
    height: 100px;
    margin: 1rem;
}

.dots-1 {
    grid-template-areas:
        ". . . . ."
        ". . . . ."
        ". . item1 . ."
        ". . . . ."
        ". . . . .";
}

.dots-2 {
    grid-template-areas:
        ". . . . ."
        ". item1 . . ."
        ". . . . ."
        ". . . item2 ."
        ". . . . .";
}

.dots-3 {
    grid-template-areas:
        ". . . . ."
        ". item1 . . ."
        ". . item2 . ."
        ". . . item3 ."
        ". . . . .";
}

.dots-4 {
    grid-template-areas:
        ". . . . ."
        ". item1 . item2 ."
        ". . . . ."
        ". item3 . item4 ."
        ". . . . .";
}

.dots-5 {
    grid-template-areas:
        ". . . . ."
        ". item1 . item2 ."
        ". . item3 . ."
        ". item4 . item5 ."
        ". . . . .";
}

.dots-6 {
    grid-template-areas:
        ". . . . ."
        ". item1 . item2 ."
        ". item3 . item4 ."
        ". item5 . item6 ."
        ". . . . .";
}

.dot {
    background-color: white;
    border-radius: .5rem;
    height: 1rem;
    width: 1rem;
}

.dotOne {
    grid-area: item1;
}

.dotTwo {
    grid-area: item2;
}

.dotThree {
    grid-area: item3;
}

.dotFour {
    grid-area: item4;
}

.dotFive {
    grid-area: item5;
}

.dotSix {
    grid-area: item6;
}